gunicorn==20.1.0
Flask==2.2.3
google.cloud.bigquery==3.5.0
pandas==1.5.3
google-api-python-client==2.78.0
google-auth==2.16.1
google-cloud==0.34.0
google-cloud-storage==2.7.0
ipython==8.10.0
wheel==0.38.4
pandas-schema==0.3.6
pandasql==0.7.3
SQLAlchemy==1.4.46
